<PageTitle>Honey - ホーム</PageTitle>
<div class="home-area h-100">
    <div class="sub-title">今月の収支</div>
    <div class="card">
        <div class="summary-area">
            <div class="salary">
                <div>収入</div>
                <div>350,000円</div>
            </div>
            <div class="used">
                <div>支出</div>
                <div>131,894円</div>
            </div>
            <div class="saving">
                <div>貯金</div>
                <div>218,106円</div>
            </div>
        </div>
    </div>
    <div class="sub-title">詳細</div>
    <div class="card detail">
        <ul class="detail-area">
            <li>
                <div class="detail-title">
                    <div>テストユーザ１</div>
                    <div class="amount">13個</div>
                    <div class="payment">101,894円</div>
                </div>
                <ul class="detail-user">
                    <li class="list-item">
                        <span class="seq">1</span>
                        <span class="product">りんご</span>
                        <span class="amount">10個</span>
                        <span class="payment">1890円</span>
                    </li>
                    <li class="list-item">
                        <span class="seq">2</span>
                        <span class="product">カレールー</span>
                        <span class="amount">2個</span>
                        <span class="payment">396円</span>
                    </li>
                    <li class="list-item">
                        <span class="seq">3</span>
                        <span class="product">何か高いやつ</span>
                        <span class="amount">1個</span>
                        <span class="payment">100,000円</span>
                    </li>
                </ul>
            </li>
            <li>
                <div class="detail-title">
                    <div>テストユーザ２</div>
                    <div class="amount">5個</div>
                    <div class="payment">83,132円</div>
                </div>
                <ul class="detail-user">
                    <li class="list-item">
                        <span class="seq">1</span>
                        <span class="product">柿</span>
                        <span class="amount">2個</span>
                        <span class="payment">200円</span>
                    </li>
                    <li class="list-item">
                        <span class="seq">2</span>
                        <span class="product">カレールー</span>
                        <span class="amount">2個</span>
                        <span class="payment">396円</span>
                    </li>
                    <li class="list-item">
                        <span class="seq">3</span>
                        <span class="product">何か高いやつ</span>
                        <span class="amount">1個</span>
                        <span class="payment">100,000円</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>