@page "/"

<PageTitle>Honey</PageTitle>
<div class="h-100 page">
    <Header />
    <main>
        <article class="h-100">
            @switch (_selectedIndex)
            {
                case 0:
                    <Animate class="h-100" Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(0.5)">
                        <Home />
                    </Animate>
                    break;
                case 1:
                    <Animate class="h-100" Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(0.5)">
                        <Input />
                    </Animate>
                    break;
                case 2:
                    <Animate class="h-100" Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(0.5)">
                        <Summary />
                    </Animate>
                    break;
                default:
                    <div>Error</div>
                    break;
            }
        </article>
    </main>
    <BottomNavMenu MenuSelectionChanged="MenuButtonSelectionChanged" />
</div>