@page "/"

<PageTitle>Honey</PageTitle>
<div class="h-100 page">
    <Header />
    <main>
        <article class="h-100">

        </article>
    </main>
    <BottomNavMenu MenuSelectionChanged="MenuButtonSelectionChanged" />
</div>