.bottom-nav-area {
    height: 100px;
    width: 100%;
    background-color: var(--primary-color-400);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: env(safe-area-inset-bottom);
}