.bottom-nav-area {
    width: 100%;
    background-color: var(--primary-color-400);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}