<div class="header-area">
    <img src="svg/logo.svg" class="img img-fluid logo" />
    <div class="logo-title">Honey</div>
    <button class="user-area">
        <img src="svg/user_icon.svg" class="img img-fluid user-icon" />
    </button>
</div>