.header-area {
    height: 90px;
    width: 100%;
    background-color: var(--primary-color-400);
    display: flex;
    align-items: center;
}

.logo {
    object-fit: contain;
    aspect-ratio: 1;
    height: 70px;
    margin: 5px 10px;
}

.brand-title {
    font-size: 36px;
    color: var(--black);    
}

.user-area {
    margin-left: auto;
    margin-right: 5px;
    outline: none;
    border: none;
    background-color: transparent;
}

.user-icon {
    margin-right: 10px;
}