<AuthorizeView>
    <Authorized>
        <div class="header-area">
            <img src="svg/logo.svg" class="img img-fluid logo" />
            <div class="brand-title">Honey</div>
            <button @onclick=@BeginSignOut class="user-area">
                <img src="@GetProfilePicture(context)" class="img img-fluid user-icon" />
            </button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="header-area">
            <img src="svg/logo.svg" class="img img-fluid logo" />
            <div class="brand-title">Honey</div>
            <button @onclick=@UserIconOnClick class="user-area">
                <img src="svg/user_icon.svg" class="img img-fluid user-icon" />
            </button>
        </div>
    </NotAuthorized>
</AuthorizeView>