<div class="login-bg">
    <div class="login-area">
        <div class="brand-title">Honey</div>
        <img src="svg/logo.svg" class="img img-fluid logo" />
        <div class="field">
            <div>ユーザ名</div>
            <input type="text" />
        </div>
        <div class="field">
            <div>パスワード</div>
            <input type="password" />
        </div>
        <button class="login-btn">ログイン</button>
    </div>
</div>