@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
        @foreach (var claim in context.User.Claims ?? Enumerable.Empty<Claim>())
        {
            <p class="claim">@(claim.Type): @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
