button {
    outline: none;
    background-color: transparent;
    border: none;
}

.alt {
    text-align: center;
    font-size: 12px;
    color: var(--primary-color-200);
}

.selected {
    color: var(--black);
}