@switch (Type)
{
    case 1:
        if (IsSelected)
        {
            <button @onclick=@OnClick>
                <img src="svg/list_selected.svg" />
                <div class="alt selected">一覧</div>
            </button>
        }
        else
        {
            <button @onclick=@OnClick>
                <img src="svg/list_unselected.svg" />
                <div class="alt">一覧</div>
            </button>
        }
        break;
    case 2:
        if (IsSelected)
        {
            <button @onclick=@OnClick>
                <img src="svg/home_selected.svg" />
                <div class="alt selected">ホーム</div>
            </button>
        }
        else
        {
            <button @onclick=@OnClick>
                <img src="svg/home_unselected.svg" />
                <div class="alt">ホーム</div>
            </button>
        }
        break;
    case 3:
        if (IsSelected)
        {
            <button @onclick=@OnClick>
                <img src="svg/summary_selected.svg" />
                <div class="alt selected">集計</div>
            </button>
        }
        else
        {
            <button @onclick=@OnClick>
                <img src="svg/summary_unselected.svg" />
                <div class="alt">集計</div>
            </button>
        }
        break;
    default:
        <div>error</div>
        break;
}